body{
    font-size: 12px ;
}
.navbar {
    margin: 0px 0px 30px 0px;
}
.logo img {
    width: 80px;
    margin-right: 20px;
    margin-top: -13px;
    margin-bottom: 13px;
}

::placeholder {
    text-align: center;
}

.navbar-nav>li>a {
    padding-top: 0px;
    font-weight: bold !important;
}

.form-group {
    overflow: hidden;
}

.float-right {
    float: right;
}

.btn-save .btn {
    margin-right: 5px;
}


/* Raz */
.tbl-31 {
    background-color: #3fa0cb;
    color: white;

}

.tbl-31-tr {
    background-color: #3fa0cb;
    color: white;
    text-align: center;
}

.tbl-31-main td {
    width: 80px;
    height: 40px;

}

.tbl-1-main td {
    width: 80px;
    height: 30px;

}
.tbl-31 th{
    font-weight: bold;
}
.tbl-30-main td {

    height: 30px;
    text-align: center;
}
.tbl-background{
    background-color: white;
}

.tbl-30-main th {
    width: 80px;
    height: 30px;
    text-align: center;
}



.tbl-31-main select {
    width: 150px;
}

.table th {
    text-align: center;
    font-size: 12px;
    font-weight: normal;
}

.div1 {
    margin-left: 150px;
    margin-top: 100px
}

.div2 {
    width: 800px;
    padding: 150px 150px 150px 150px;
    border: 1px solid gray;
    text-align: center;
}

.tbl-14-td {
    text-align: center;
}


.backend {

    overflow: hidden;
    background-color: #f8f8f8;
    padding: 10px;
    color: dodgerblue;
    border-left: 0.5px solid  #3fa0cb;
    border-bottom: 0.5px solid  #3fa0cb;


}
.head-color{
    background-color: #f8f8f8;
}

p {
    font-weight: bold;
}

.table>thead>tr>th {
    padding: 8px 3px;
}

.no-padding {
    padding: 0;
}

.head-p {
    background-color: #3fa0cb;
    height: 40px;
    margin-bottom: 20px;
    color: white;
    margin-left: -15px;
    font-weight: bold;
}

.head-p p {
    padding: 13px;
}

.ratio {
    margin-right: -79px;
    color: black;
    margin-top: 5px;
}

span {
    color: darkgray;
}
.p-size-1{
    font-size: 10.4px;
}
.selclass {

    color: darkgray;

}

.style1 {
    padding-bottom: 10px;
    margin: 20px;
}

.style2 {
    margin-right: -81px
}

.border1 {
    border: 0.5px solid  #3fa0cb;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 4px;

}

.lab1 {
    margin-left: -70px;
}

.p-size {
    font-size: 11.5px;
}

.tbl-scroll {
    height: 500px;
    overflow-y: scroll;
}

.header-box {
    width: 70px;
    height: 30px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.navbar {
    margin-top: 20px;
    margin-bottom: 0;
}

/*Mac Header*/
.home-icon {
    background-color: #FF6600;
    color: #ffffff;
    padding: 8px 30px 5px 19px;
    border-radius: 19px;
    font-size: 16px;
    margin-right: 20px;
}

.nav-bg {
    background: #F8F8F8 !important;
}



.ml-1 {
    margin-left: 10px;
    font-weight: bold;
}

.menu-right-top {
    margin-top: -30px !important;
}

.li-right {
    margin-right: 10px;
    margin-top:2px;
}

.span-hyphen {
    margin-right: 15px;
}

.glyphicon {
    position: relative;
    top: 2px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.navbar-nav>li>a {

    padding-bottom: 0px !important;
}


.table-fixed thead {
    width: 97%;
}

input[type=search] {
    -webkit-appearance: searchfield !important;
    height: 40px !important;
    margin-top: -9px;
}

.nav-hover li a:hover {
    background: transparent;
}

.navbar-right-bg {
    border: 1px solid transparent;
    margin-left: 45px;
    border-radius: 18px;
    background: #95E6AB;
    height: 37px;
    width: 140px;
    margin-top:-8px;
}

.navbar-right-bg {
    border: 1px solid transparent;
    margin-left: 45px;
    border-radius: 18px;
    background: #95E6AB;
    height: 37px;
    width: 140px;
}

.img-li {
    margin-left: -48px;
    margin-top:-7px;
}

.bottom-bg {
    background-color: #fff;
    margin-left: -15px;
    position: fixed;
    bottom: 0;
    width: 85%;


}

.bottom-button-group {
    margin-top: 14px !important;
}

.bottom-button-group-color {
    background: #E4E4E4;
}

.bottom-button-group-color-red {
    background: #FF1703;
    color: white;
}

.bottom-padding {
    padding: 25px 30px 25px 30px !important;

}

.btn {
    border: 1px solid gray;
    height: 40px;
}


.bottom-box{
    margin-bottom: 80px;
}
.body-background{
    background-color: #fff;
}
.tbl-input{
    border: none;
}

/* positive margin left
 */
.ml-5{
    margin-left: 5px;
}
.ml-10{
    margin-left: 10px;
}
.ml-15{
    margin-left: 15px;
}
.ml-20{
    margin-left: 20px;
}
.ml-30{
    margin-left: 30px;
}
.ml-33{
    margin-left: 33px;
}
.ml-40{
    margin-left: 40px;
}
.ml-50{
   margin-left: 50px;
}
.ml-60{
   margin-left: 60px;
}
.ml-70{
   margin-left: 70px;
}
.ml-75{
   margin-left: 75px;
}
.ml-90{
    margin-left: 90px;
}
.ml-100{
    margin-left: 100px;
}

/*negative margin left*/
.ml-n-5{
    margin-left: -5px;
}
.ml-n-10{
    margin-left: -10px;
}
.ml-n-15{
    margin-left: -15px;
}
.ml-n-20{
    margin-left: -20px;
}
.ml-n-30{
    margin-left: -30px;
}
.ml-n-40{
    margin-left: -40px;
}
.ml-n-45{
    margin-left: -45px;
}
.ml-n-50{
    margin-left: -50px;
}
.ml-n-60{
    margin-left: -60px;
}
.ml-n-70{
    margin-left: -70px;
}
.ml-n-75{
    margin-left: -75px;
}
.ml-n-80{
   margin-left: -80px;
}
.ml-n-90{
   margin-left: -90px;
}


/*margin-new*/
.ml-n-105{

    margin-left: -105px;
}

.ml-n-100{

    margin-left: -93px;
}
